<div class="inbox col-sm-10">
    <ul class="list-unstyled" ng-repeat="email in $ctrl.emailsData | emailByTypeFilter:$ctrl.typeEmail">
        <li class="email-item row" ng-class="{true:'unread', false:''}[email.unread]">
            <div class="people col-sm-3">
                <ul class="mail-icons list-inline">
                    <li>
                        <input type="checkbox" class="mail-select">
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                </ul>

                <span class="people-names">
                  {{email.from}}
                </span>
            </div><!-- people -->

            <div class="message col-sm-6">
                <div class="clipper">
                    <h3>{{email.subject}}</h3>
                    -
                    <p>{{email.body}}</p>
                </div>
            </div><!-- message -->

            <div class="date col-sm-2">
                <date class="pull-right">{{email.created}}</date>
            </div><!-- date -->
            <div class="people col-sm-1">
                <button class="btn btn-xs btn-danger" ng-click="$ctrl.deleteEmail({item: email})">
                    Удалить
                </button>
            </div>
        </li>
    </ul>
</div>