<div class="inbox col-sm-10">
    {{$ctrl.searchMailbox.value}}
    <ul class="list-unstyled" ng-repeat="contact in $ctrl.contactsData | filter:$ctrl.searchMailbox.value">
        <li class="email-item row">
            <div class="people col-sm-2">
                <ul class="mail-icons list-inline">
                    <li>
                        <input type="checkbox" class="mail-select">
                    </li>
                </ul>

                <span class="people-names">
                  {{contact.email}}
                </span>
            </div>

            <div class="message col-sm-2">
                <div class="clipper">
                    <h3>{{contact.name}}</h3>
                </div>
            </div>

            <div class="message col-sm-2">
                <div class="clipper">
                    <p>{{contact.phone}}</p>
                </div>
            </div>

            <div class="people col-sm-1">
                <button class="btn btn-xs btn-danger" ng-click="$ctrl.deleteContact({item: contact})">
                    Удалить
                </button>
            </div>
        </li>
    </ul>
</div>